
@{
    ViewBag.Title = "UrunEkle";
    Layout = "~/Views/Shared/_MainLayoutView.cshtml";
}

<form class="form-group" method="post">
    <div>
        <label>Ürün Adı</label>
        <input type="text" class="form-control" name="URUNADI" />
    </div>
    <div>
        <label>Ürün Kategori</label>
        <input type="text" class="form-control" name="URUNKATEGORI" />
    </div>
    <div>
        <label>Ürün Fiyat</label>
        <input type="text" class="form-control" name="FIYAT" />
    </div>
    <div>
        <label>Ürün Marka</label>
        <input type="text" class="form-control" name="MARKA" />
    </div>
    <div>
        <label>Ürün Stok</label>
        <input type="text" class="form-control" name="STOK" />
    </div>
    <div style="margin-top:15px">
        <button class="btn btn-info">Ürün Ekle</button>
    </div>
</form>
